* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Ao usar @import automaticamente tudo em sua respectiva classe, é exportado para o style.css
@import 'sass/colors';
@import 'sass/typography';

body {
    background: $lilas;
    background-size: 300%;
    animation: colors 15s ease-in-out infinite;

    @keyframes colors {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }
}

@media screen and (max-width: 860px) {
    body {
        background: $lilas-mobile;
        background-size: 300%;
        animation: colors 15s ease-in-out infinite;

        @keyframes colors {
            0% {
                background-position: 0% 50%
            }
    
            50% {
                background-position: 100% 50%
            }
    
            100% {
                background-position: 0% 50%
            }
        }
    }
}





@import 'sass/layout';