* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;

}

// Ao usar @import automaticamente tudo em sua respectiva classe, é exportado para o style.css
@import 'sass/colors';
@import 'sass/typography';

body {
    background-color: $lilas;

}


.border {
    border: 1px solid royalblue;
}

@import 'sass/spacing';
@import 'sass/layout';